<ion-header [translucent]="true"> </ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h2 class="invited">You Are Invited To</h2>
    <h1 class="wedding">Wedding Party</h1>
    <br />
    <h5 class="nama">Alan & Lily</h5>
  </div>

  <div id="container_button">
    <ion-button
      fill="outline"
      class="button_mail"
      [routerLink]="['/isiundangan']"
      ><ion-icon name="mail-open" class="icon-mail"></ion-icon>Buka
      Undangan</ion-button
    >
  </div>
</ion-content>
